CLIENTVIDEO/CLIENTVIDEO/Service References/ServiceReferenceVideo/SVideo3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SERVICEVIDEO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SERVICEVIDEO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Video">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:ArrayOfComments" />
      <xs:element minOccurs="0" name="Watch" nillable="true" type="tns:ArrayOfWatch" />
      <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="code" type="xs:int" />
      <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="describe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="poster" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tittle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vote" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Video" nillable="true" type="tns:Video" />
  <xs:complexType name="ArrayOfComments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comments" nillable="true" type="tns:Comments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComments" nillable="true" type="tns:ArrayOfComments" />
  <xs:complexType name="Comments">
    <xs:sequence>
      <xs:element minOccurs="0" name="MOVIEID" type="xs:int" />
      <xs:element minOccurs="0" name="USERID" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="Video" nillable="true" type="tns:Video" />
      <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="datePost" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comments" nillable="true" type="tns:Comments" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:ArrayOfComments" />
      <xs:element minOccurs="0" name="Watch" nillable="true" type="tns:ArrayOfWatch" />
      <xs:element minOccurs="0" name="code" type="xs:int" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="profil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfWatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Watch" nillable="true" type="tns:Watch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWatch" nillable="true" type="tns:ArrayOfWatch" />
  <xs:complexType name="Watch">
    <xs:sequence>
      <xs:element minOccurs="0" name="MOVIEID" type="xs:int" />
      <xs:element minOccurs="0" name="USERID" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="Video" nillable="true" type="tns:Video" />
      <xs:element minOccurs="0" name="note" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Watch" nillable="true" type="tns:Watch" />
  <xs:complexType name="ArrayOfVideo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Video" nillable="true" type="tns:Video" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVideo" nillable="true" type="tns:ArrayOfVideo" />
</xs:schema>