CLIENTVIDEO/CLIENTVIDEO/Service References/ServiceReferenceVideo/SVideo1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49643/SVideo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SERVICEVIDEO" />
  <xs:import schemaLocation="http://localhost:49643/SVideo.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="getVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVideoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SERVICEVIDEO" minOccurs="0" name="getVideoResult" nillable="true" type="q1:Video" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVideos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getVideosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SERVICEVIDEO" minOccurs="0" name="getVideosResult" nillable="true" type="q2:ArrayOfVideo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVideosByTittle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tittle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVideosByTittleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SERVICEVIDEO" minOccurs="0" name="getVideosByTittleResult" nillable="true" type="q3:ArrayOfVideo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVideosByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categorie" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVideosByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SERVICEVIDEO" minOccurs="0" name="getVideosByCategoryResult" nillable="true" type="q4:ArrayOfVideo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVideoByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVideoByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SERVICEVIDEO" minOccurs="0" name="getVideoByCodeResult" nillable="true" type="q5:ArrayOfVideo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SERVICEVIDEO" minOccurs="0" name="video" nillable="true" type="q6:Video" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addVideoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addVideoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteVideoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteVideoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SERVICEVIDEO" minOccurs="0" name="user" nillable="true" type="q7:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="gerUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gerUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SERVICEVIDEO" minOccurs="0" name="gerUserResult" nillable="true" type="q8:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isValidEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isValidEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isValidEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isValidPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isValidPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isValidPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCommantaires">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeFilm" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCommantairesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SERVICEVIDEO" minOccurs="0" name="getCommantairesResult" nillable="true" type="q9:ArrayOfComments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCommentaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SERVICEVIDEO" minOccurs="0" name="commentaire" nillable="true" type="q10:Comments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCommentaireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addCommentaireResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCommentaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SERVICEVIDEO" minOccurs="0" name="commentaire" nillable="true" type="q11:Comments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCommentaireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateCommentaireResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteFileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/Message" name="FileByteStream" type="q12:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileName" nillable="true" type="xs:string" />
  <xs:element name="Length" type="xs:long" />
</xs:schema>